@import url("./vars.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
section,
.theme-dark,
.theme-light {
  height: 100%;
  transition: background, color 1.36s;
  background-color: var(--bg);
  color: var(--text-color);
}
